.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
package-lock.json
.editorconfig
.npmrc
.gitattributes
*.todo

img/demo.png

node_modules
webpack.config.js
LICENSE

dist/*.txt